/* assets/css/faq.css */
.faq-content{
  padding: 12% 6%;
}
.faq-section .accordion-item {
  border: 1px solid var(--gray-100);
  margin-bottom: 1.5rem;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.faq-section .accordion-item:hover {
  background-color: var(--primary-50);
}

.faq-section .accordion-button {
  font-weight: 700;
  color: var(--primary-900);
  background-color: transparent;
  box-shadow: none !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.25rem 1.5rem;
  text-align: right;
}

.faq-section .accordion-button:not(.collapsed) {
  color: var(--primary-900);
  background-color: transparent;
  border-bottom: 1px solid var(--gray-100);
}

.faq-question-text {
  flex-grow: 1;
  margin-left: 1rem;
}

.faq-question-number {
  color: var(--primary-500);
  font-weight: 700;
  font-size: 1.2rem;
}

.faq-section .accordion-button::after {
  font-family: "bootstrap-icons";
  content: "\F282"; /* bi-chevron-down */
  background-image: none;
  font-weight: 900;
  color: var(--primary-500);
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
  order: -1; /* Moves the icon to the start (right side in RTL) */
  margin-left: 1rem;
}

.faq-section .accordion-button:not(.collapsed)::after {
  content: "\F282"; /* bi-chevron-down */
  transform: rotate(-180deg); /* Rotates to point up */
}

.faq-section .accordion-body {
  color: var(--gray-700);
  background-color: transparent;
  padding: 1.5rem;
}

.faq-section .accordion-item:has(.accordion-button:not(.collapsed)) {
  border-color: var(--primary-500);
}
