@import url(./styles.css);

/* Footer Styles */
.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white !important;
}

.footer-container {
  background-color: var(--white-color);
  padding-top: 5rem;
  padding-bottom: 2rem;
  color: var(--gray-500);
  font-family: "Tajawal", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
}

.footer .footer-logo img {
  width: 248px;
  min-width: 132px;
}

.footer .footer-logo p {
  font-size: 0.9rem;
}

.footer .footer-heading {
  font-weight: 700;
  color: var(--gray-900);
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.footer .footer-links {
  list-style: none;
  padding: 0;
}

.footer .footer-links li {
  margin-bottom: 0.8rem;
}

.footer .footer-links a {
  text-decoration: none;
  color: var(--gray-500);
  transition: color 0.3s;
}

.footer .footer-links a:hover {
  color: var(--secondary-500);
}

.footer .contact-info .info-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.footer .contact-info .info-item i {
  font-size: 1.2rem;
  margin-left: 10px;
  color: var(--gray-500);
}

.footer .scroll-to-top {
  width: 56px;
  height: 56px;
  background-color: var(--secondary-500);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: var(--white-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  position: relative;
  z-index: 9;
  bottom: 4%;
  left: 2%;
}

.footer .scroll-to-top:hover {
  background-color: var(--secondary-700);
}

.footer .footer-divider {
  height: 4px;
  border-top: 1px solid var(--secondary-500);
}

.footer .social-links a {
  color: var(--e);
  font-size: 1.5rem;
  margin: 0 10px;
  transition: color 0.3s;
}

.footer .social-links a:hover {
  color: var(--secondary-500);
}

.footer .copyright-text {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.footer .copyright-text strong {
  font-weight: 700;
  color: var(--gray-700);
}

.footer .disclaimer-text {
  font-size: 0.8rem;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .footer-container {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  .footer .footer-logo,
  .footer .contact-info {
    text-align: start !important;
  }

  .footer .footer-heading {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .footer .footer-logo {
    text-align: center;
  }

  .footer .footer-heading {
    text-align: start;
  }

  .footer .footer-links {
    text-align: start;
  }

  .footer .contact-info {
    text-align: start;
  }
}

.text-lg-end {
  text-align: end !important;
}
