/* Hero */
.hero-section {
  padding: 96px 0;
}
.hero-gallery .main-image img {
  object-fit: cover;
  width: 50%;
}
.hero-gallery .thumbnail-gallery .img-thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 0.2rem;
  transition: border-color 0.3s;
}
.hero-gallery .thumbnail-gallery .img-thumbnail:hover,
.hero-gallery .thumbnail-gallery .img-thumbnail.active {
  border-color: var(--primary-500);
}

.carousel-control {
  width: 48px;
  border: none;
  background: none;
}

.carousel-control-div {
  position: absolute;
}

.carousel-item {
  padding: 16px;
}

.hero-right-column {
  width: 50%;
}

/* Extra small devices (phones, 576px and down) */
@media (max-width: 576px) {
  .hero-section .row {
    flex-direction: column;
  }

  .hero-right-column {
    width: 100%;
  }
}

/* Small devices (landscape phones, 768px and down) */
@media (max-width: 768px) {
  .hero-section .row {
    flex-direction: column;
  }

  .hero-right-column {
    width: 100%;
  }
}

/* Medium devices (tablets, 992px and down) */
@media (max-width: 992px) {
  .hero-section .row {
    flex-direction: column;
  }

  .hero-right-column {
    width: 100%;
  }
}

/*===========================
    clients-01 css 
===========================*/
.client-logo-area .section-title-two {
  text-align: center;
  max-width: 550px;
  margin: auto;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .client-logo-area .section-title-two {
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .client-logo-area .section-title-two {
    margin-bottom: 35px;
  }
}
.client-logo-area .section-title-two span {
  text-transform: capitalize;
  color: var(--white);
  background: var(--primary);
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px 15px;
  border-radius: 4px;
}
.client-logo-area .section-title-two h2 {
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .client-logo-area .section-title-two h2 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
@media (max-width: 767px) {
  .client-logo-area .section-title-two h2 {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}
.client-logo-area .section-title-two p {
  color: var(--dark-3);
}

/*===== Client Logo One =====*/
.client-logo-one {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: var(--primary-100);
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Marquee styles */
.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee-content {
  display: inline-block;
  animation: marquee 16s linear infinite;
}

.single-client {
  display: inline-block;
  padding: 0 16px;
  vertical-align: middle;
}

.single-client img {
  max-width: 150px;
  height: auto;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.index-tabs-container {
  display: flex;
  justify-content: start;
  width: 100%;
}

.index-tab-link {
  padding: 1rem 1.5rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #6c757d;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.index-tab-link.active {
  color: var(--primary-500);
}

.index-tab-link.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-500);
}

.index-tab-content {
  display: none;
}

.index-tab-content.active {
  display: block;
}

/* categories-section */
.categories-section {
  padding: 2% 8%;
}

.categories-title {
  border-bottom: 2px solid var(--primary-500);
}

.categories-content {
  display: flex;
  overflow-x: scroll;
  padding: 32px 0;
  cursor: grab;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: 16px;
}
.categories-content::-webkit-scrollbar {
  display: none;
}

.category-card {
  background-color: var(--white-color);
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  flex: 1 0 172px;
}

.category-card img {
  width: 100%;
  padding: 8px;
  height: auto;
}

.category-card p {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--black-color);
}

/* Cities Section */
.cities-section {
  padding: 2% 8%;
}

.cities-title {
  border-bottom: 2px solid var(--primary-500);
}

.cities-content {
  display: flex;
  overflow-x: scroll;
  padding: 32px 0;
  cursor: grab;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: 16px;
}
.cities-content::-webkit-scrollbar {
  display: none;
}

.city-card {
  background-color: var(--white-color);
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  flex: 1 0 172px;
}

.city-card img {
  width: 100%;
  padding: 8px;
  height: auto;
}

.city-card p {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--black-color);
}
