@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");

/* 1. Color Variables (Light Theme - Default) */
:root {
  --primary-color: #2899e5;
  --secondary-color: #ffa500;
  --background-color: #f7f9fc;
  --white-color: #ffffff;
  --black-color: #262626;
  --surface-color: #f8f9fa;
  --text-color: #333333;
  --text-muted-color: #6c757d;
  --border-color: #dee2e6;
}

/* 2. Dark Theme Color Overrides */
[data-theme="dark"] {
  --primary-color: #0d6efd;
  --secondary-color: #6c757d;
  --background-color: #121212;
  --surface-color: #1e1e1e;
  --text-color: #e9ecef;
  --text-muted-color: #adb5bd;
  --border-color: #495057;
}

/* 3. Applying the variables */
body {
  font-family: "Tajawal", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Nav */
nav {
  background-color: var(--secondary-color);
  color: var(--white-color);
  border-bottom: 1px solid var(--border-color);
}

/* theme-toggle */
.theme-toggle {
  color: var(--white-color);
}
